* {
  margin: 0;
  padding: 0;
  width: auto;
  box-sizing: border-box;
  font-family: "Roboto";
}

/* .container-nav {
  display: flex;
} */

/* html ::-webkit-scrollbar-track {
  background-color: transparent;
}
html ::-webkit-scrollbar-thumb {
  background-color: #b2744c;
  border-radius: 10px;
} */

/* NAVBAR */
#navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f5c732;
  transition: scroll 0.3s ease-in-out;
  z-index: 9999;
}
#logo img {
  display: flex;
  height: 90px;
  margin-left: 15rem;
}

.nav-item .nav-link {
  background-color: #f5c732;
  font-weight: bold;
  margin-left: 10px;
}
#collapseWidthExample{
  background-color: #f5c732;
}
.search-icon i {
  margin-right: 100px;
  color: white;
  font-size: 30px;
}

.navbar-nav{
  padding-top: 10px;
}
.collapse-item .collapse-link {
  display: flex;
  background-color: #f5c732;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  margin-left: 55px;
  margin-top: 20px;
}
/* IMG dropdown menu*/
.container-imgdropdown {
  flex-direction: column;
  position: fixed;
  margin-left: 70rem;
  z-index: 9999;
}

.imgdropdown-item {
  background-color: #f5c732;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgdropdown-item h1 {
  font-size: 20px;
  margin-top: -20px;
}

.dropdown-icon {
  border: 0;
  display: flex;
  margin-top: -10px;
  position: relative;
  margin-left: 5.4rem;
}
.dropdown-icon i {
  display: flex;
  background-color: #f5c732;
  font-size: 35px;
}

/* Carousel section */
.carousel-item {
  height: 100vh;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel-item video {
  width: 100%;
}
.carousel-indicators button.active {
  background-color: #000000;
  opacity: 1;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  width: 370px;
  position: absolute;
  margin-left: 30px;
  margin-bottom: 10rem;
}
.carousel-caption p {
  padding-top: 10px;
  position: absolute;
  margin-left: 45px;
  margin-bottom: 10rem;
  font-size: 18px;
}

/* Main menu */
.main-menu {
  margin-top: 20px;
  margin-left: 100px;
  height: 130vh;
}
.tab-content {
  margin-top: 40px;
}
.card{
  width: 20rem;
}
.card-body h1 {
  font-size: 20px;
  text-align: center;
}

/* Menu event */
.menu-event {
  height: 110vh;
  width: 90%;
}
.menu-event h1 {
  font-weight: bold;
  margin-left: 10rem;
}
.container-event {
  width: 5px;
  height: 200px;
  background-color: black;
  margin-top: 1rem;
  margin-left: 10rem;
}
.container-event2 {
  width: 5px;
  height: 200px;
  background-color: black;
  margin-top: 1rem;
  margin-left: 10rem;
}
.event-text.expanded {
  height: auto;
  overflow: visible;
}

/* Event text */
.event-text h4 {
  display: inline-block;
  width: 200px;
  position: relative;
  margin-left: 20px;
  font-size: 13px;
}
.event-text h2 {
  display: inline-block;
  width: 400px;
  position: relative;
  margin-left: 20px;
  font-weight: bold;
  font-size: 16px;
}
.event-text p {
  display: inline-block;
  width: 400px;
  position: relative;
  margin-left: 20px;
  font-size: 12px;
}
.read-more-btn {
  margin-top: 20px;
  margin-left: 45rem;
  padding: 5px 2px;
  background-color: #f5c732;
  color: black;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.read-more-btn:hover {
  background-color: #e0b60f;
}
/* Hide the hidden content initially */
.hidden {
  display: none;
}

/* CONTACT */
.contact {
  background-color: #f5c732;
  min-height: 100vh;
  display: grid;
  column-gap: 50px;
  grid-template-columns: 1fr 1fr;
}
.contact-container {
  padding: 90px 110px 0 0;
}
.contact-image img {
  max-width: 100%;
  height: auto;
  margin-left: 9rem;
}
.contact-container iframe{
  height: 200px;
  width: 450px;
  margin-top: 20px;
  margin-left: 9rem;
}

.contact p {
  color: #000;
  font-size: 1rem;
}
.text-cp p {
  padding-top: 50px;
}

.contact-artcile {
  display: flex;
  justify-content: flex-end;
}

.contact-content {
  display: flex;
  justify-content: space-between;
}

.contact-text p {
  color: #000;
  font-size: 1rem;
}

.contact-contact {
  list-style-type: none;
  padding-right: 90px;
  padding-top: 90px;
  flex: 1;
}

.contact-contact ul li {
  list-style-type: none;
  margin-bottom: 5px;
}
.contact-contact h3 {
  padding-bottom: 4px;
  color: #000;
}

.contact-contact a {
  display: inline-block;
  position: relative;
  width: 130px;
  font-size: 14px;
  padding: 3px 0;
  color: #000000;
  text-decoration: none;
}

.contact-contact a:hover {
  color: #696060;
}

/* MEDIA QUERY */
@media (max-width: 768px) {
  /* Navbar */
  #navbar {
    justify-content: space-between;
    padding: 0 15px;
  }
  #logo img {
    height: 60px;
    margin-left: 0;
  }
  .navbar-toggler {
    margin-right: 0;
  }
  .navbar-collapse {
    background-color: #f5c732;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .navbar-collapse.show {
    transform: translateX(0);
  }
  .navbar-nav {
    flex-direction: column;
  }
  .nav-item .nav-link {
    margin: 10px 0;
  }
  .search-icon i {
    margin-right: 0;
  }

  /* Img Dropdown Menu */
  .container-imgdropdown {
    display: none;
  }

  /* Section Slider Image */
  .container-slider{
    height: 40vh;
  }
  .carousel-item{
    height: 65vh;
  }
  .carousel-item img {
    width: 100%;
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .carousel-item video {
    width: 100%;
    height: auto;
  }
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    width: 280px;
  }
  .carousel-caption h3 {
    margin-left: 10px;
    padding-top: 10px;
    font-size: 20px;
  }
  .carousel-caption p {
    font-size: 12px;
  }
  .carousel-inner {
    height: 300px;
  }

  /* Main Menu */
  .main-menu {
    margin-left: 0;
    padding: 0 15px;
  }
  .tab-content {
    margin-top: 20px;
  }
  .card{
    width: 100%;
    margin-bottom: 20px;
  }
  .card-body h1 {
    font-size: 16px;
    text-align: center;
  }
  .nav a{
    display: flex;
    padding: 10px;
    padding-right: 10px;
  }

  /* Menu Event */
  .menu-event {
    margin-top: 45rem;
    height: 200vh;
  }

  .event-text h4,
  .event-text h2,
  .event-text p {
    display: inline-block;
    position: relative;
    width: 180px;
    margin-left: 10px;
  }
  .container-event {
    width: 4px;
  }
  .container-event2 {
    width: 4px;
  }
  .read-more-btn {
    position: absolute;
    margin-left: 10rem;
    margin-top: 5rem;
  }
  .hidden {
    display: none;
  }

  /* Contact */
  .contact {
    display: block;
  }
  .contact-container {
    padding: 10px 10px;
  }
  .contact-container iframe {
    width: 100%;
    height: 250px;
    margin-left: 0;
  }
  .contact-image img {
    padding-right: 11px;
    max-width: 200px;
    height: auto;
    margin-left: 0;
  }
  .contact-text {
    padding-top: 15px;
  }
  .contact-contact {
    padding: 1px;
    margin-top: 10px;
  }
  .contact-contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  .contact-contact ul li {
    text-align: center;
    flex-basis: calc(33.33% - 2px); /* Distribute items into three columns */
    margin: 0;
  }
  .contact-contact h3 {
    padding-bottom: 2px;
  }
  .contact-contact a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 9px;
  }
}
